<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pokerstar.api.domain.mapper.admin.AdminMapper">
    <insert id="addAdmin">

    </insert>

    <delete id="deleteAdmin">

    </delete>

    <select id="getAllAdmin" resultType="com.pokerstar.api.domain.entity.admin.Admin">

    </select>

    <update id="updateAdmin">

    </update>

    <update id="toggleAdminStatus">

    </update>
</mapper>