<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pokerstar.api.domain.mapper.admin.AdminMapper">
    <insert id="addAdmin">
        insert into admin
            (admin_account,admin_nick_name,admin_password,admin_status,admin_phone,
            admin_type,admin_white_ip,admin_daily_max_login_fail_count,
            admin_daily_login_fail_count,admin_max_confirm_withdraw_count,
            admin_max_confirm_withdraw_amount,admin_create_time,admin_remark)
        values
            (#{admin_account},#{admin_nick_name},#{admin_password},#{admin_status},#{admin_phone},
            #{admin_type},#{admin_white_ip},#{admin_daily_max_login_fail_count},
            #{admin_daily_login_fail_count},#{admin_max_confirm_withdraw_count},
            #{admin_max_confirm_withdraw_amount},#{admin_create_time},#{admin_remark})
    </insert>

    <delete id="deleteAdmin">
        delete from admin where admin_id = #{adminId}
    </delete>

    <select id="getAllAdmin" resultType="com.pokerstar.api.domain.entity.admin.Admin">
        select * from admin order by admin_type asc
    </select>

    <select id="getAdminById" resultType="com.pokerstar.api.domain.entity.admin.Admin">
        select * from admin where admin_id = #{adminId}
    </select>

    <update id="updateAdmin">

    </update>

    <update id="toggleAdminStatus">
        update admin set admin_status = #{status} where admin_id = #{adminId}
    </update>
</mapper>