<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pokerstar.api.domain.mapper.admin.AdminLogMapper">
    <insert id="addAdminLog">
        insert into admin_log
            (admin_id,admin_nick_name,admin_type,admin_log_operate_method,
            admin_log_operate_time,admin_log_operate,admin_log_remark)
        values
            (#{admin_id},#{admin_nick_name},#{admin_type},#{admin_log_operate_method},
            #{admin_log_operate_time},#{admin_log_operate},#{admin_log_remark})
    </insert>

    <insert id="addAdminLoginLog">
        insert into admin_login_log
            (admin_id,admin_account,admin_nick_name,admin_type,admin_login_log_ip,
            admin_login_log_time,admin_login_log_status,admin_login_log_password)
        values
            (#{admin_id},#{admin_account},#{admin_nick_name},#{admin_type},#{admin_login_log_ip},
            #{admin_login_log_time},#{admin_login_log_status},#{admin_login_log_password})
    </insert>

    <select id="getAllAdminLog" resultType="com.pokerstar.api.domain.entity.admin.AdminLog">
        select * from admin_log order by order by admin_log_operate_time desc
    </select>

    <select id="getAllAdminLoginLog" resultType="com.pokerstar.api.domain.entity.admin.AdminLoginLog">
        select * from admin_login_log order by admin_login_log_time desc
    </select>
</mapper>