<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pokerstar.api.domain.mapper.channel.ChannelMapper">
    <resultMap id="channelMap" type="com.pokerstar.api.domain.dto.channel.ChannelDTO">
        <id property="id" column="channel_id"/>
        <result property="depositUrl" column="channel_deposit_url"/>
        <result property="withdrawUrl" column="channel_withdraw_url"/>
        <result property="fullName" column="channel_full_name"/>
        <result property="shortName" column="channel_short_name"/>
        <result property="deductDepositAmount" column="channel_deduct_deposit_amount"/>
        <result property="deductWithdrawAmount" column="channel_deduct_withdraw_amount"/>
        <result property="depositRate" column="channel_deposit_rate"/>
        <result property="withdrawRate" column="channel_withdraw_rate"/>
        <result property="remark" column="channel_remark"/>
        <result property="sort" column="channel_sort"/>
        <result property="status" column="channel_status"/>
        <result property="supportCountry" column="channel_support_country"/>
        <result property="createTime" column="channel_create_time"/>
        <result property="lastUpdateTime" column="channel_last_update_time"/>
        <result property="ip" column="channel_ip"/>
    </resultMap>

    <insert id="addChannel" parameterType="com.pokerstar.api.domain.entity.channel.Channel"
        useGeneratedKeys="true" keyProperty="channel_id" keyColumn="channel_id">
        insert into channel
        (channel_full_name,channel_short_name,channel_deposit_url,channel_withdraw_url,
        channel_sort,channel_status,channel_support_country,channel_remark,
        channel_deduct_deposit_amount,channel_deduct_withdraw_amount,
        channel_deposit_rate,channel_withdraw_rate,ip,
        channel_create_time,channel_last_update_time)
        values
        (#{channel_full_name},#{channel_short_name},#{channel_deposit_url},#{channel_withdraw_url},
        #{channel_sort},#{channel_status},#{channel_support_country},#{channel_remark},
        #{channel_deduct_deposit_amount},#{channel_deduct_withdraw_amount},
        #{channel_deposit_rate},#{channel_withdraw_rate},#{channel_ip},
        unix_timestamp(now()),unix_timestamp(now()))
    </insert>

    <delete id="deleteChannel" parameterType="int">
        delete from channel where channel_id = #{channelId}
    </delete>

    <select id="getChannels" resultMap="channelMap">
        select * from channel
    </select>

    <update id="enableChannel" parameterType="int">
        update channel set channel_status = 0 where channel_id = #{channelId}
    </update>

    <update id="updateChannelRateInfo" parameterType="com.pokerstar.api.domain.model.channel.ChannelRateBO">
        update channel set
            channel_deduct_deposit_amount = #{deductDepositAmount},
            channel_deduct_withdraw_amount = #{deductWithdrawAmount},
            channel_deposit_rate = #{depositRate},
            channel_withdraw_rate = #{withdrawRate}
        where channel_id = #{channelId}
    </update>

    <update id="updateChannelIp" parameterType="com.pokerstar.api.domain.model.channel.ChannelIpBO">
        update channel set
            channel_ip = #{ip}
        where channel_id = #{channelId}
    </update>

    <update id="updateChannelUrl" parameterType="com.pokerstar.api.domain.model.channel.ChannelUrlBO">
        update channel set
            channel_deposit_url = #{depositUrl},
            channel_withdraw_url = #{withdrawUrl}
        where channel_id = #{channelId}
    </update>


</mapper>