<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pokerstar.api.domain.mapper.channel.ChannelMapper">
    <resultMap id="channelMap" type="com.pokerstar.api.domain.dto.channel.ChannelDTO">
        <id property="id" column="channel_id"/>
        <result property="fullName" column="channel_full_name"/>
        <result property="shortName" column="channel_short_name"/>
        <result property="number" column="channel_number"/>
        <result property="secret_key" column="channel_secret_key"/>
        <result property="depositUrl" column="channel_deposit_url"/>
        <result property="withdrawUrl" column="channel_withdraw_url"/>
        <result property="sort" column="channel_sort"/>
        <result property="status" column="channel_status"/>
        <result property="supportCountryCnName" column="channel_support_country_cn_name"/>
        <result property="supportCountryEgName" column="channel_support_country_eg_name"/>
        <result property="supportCountryIsoCode" column="channel_support_country_iso_code"/>
        <result property="supportCountryId" column="channel_support_country_id"/>
        <result property="ip" column="channel_ip"/>
        <result property="createTime" column="channel_create_time"/>
        <result property="lastUpdateTime" column="channel_last_update_time"/>
        <result property="remark" column="channel_remark"/>
    </resultMap>

    <insert id="addChannel" parameterType="com.pokerstar.api.domain.entity.channel.Channel"
        useGeneratedKeys="true" keyProperty="channel_id" keyColumn="channel_id">
        insert into channel
        (channel_full_name,channel_short_name,channel_number,channel_number,channel_deposit_url,channel_withdraw_url,
        channel_sort,channel_status,channel_support_country_cn_name,channel_support_country_eg_name,
        channel_support_country_iso_code,channel_support_country_id,channel_ip,
        channel_create_time,channel_last_update_time,channel_remark)
        values
        (#{channel_full_name},#{channel_short_name},#{channel_number},#{channel_number},#{channel_deposit_url},#{channel_withdraw_url},
        #{channel_sort},#{channel_status},#{channel_support_country_cn_name},#{channel_support_country_eg_name},
        #{channel_support_country_iso_code},#{channel_support_country_id},#{channel_ip},
        #{channel_create_time},#{channel_last_update_time},#{channel_remark})
    </insert>

    <delete id="deleteChannel" parameterType="int">
        delete from channel where channel_id = #{channelId}
    </delete>

    <select id="getChannels" resultMap="channelMap">
        select * from channel
    </select>

    <select id="getAllChannel" resultType="com.pokerstar.api.domain.entity.channel.Channel">
        select * from channel
    </select>

    <update id="enableChannel" parameterType="int">
        update channel set channel_status = 0 where channel_id = #{channelId}
    </update>

    <update id="updateChannelRateInfo" parameterType="com.pokerstar.api.domain.model.channel.ChannelRateBO">
        update channel set
            channel_deduct_deposit_amount = #{deductDepositAmount},
            channel_deduct_withdraw_amount = #{deductWithdrawAmount},
            channel_deposit_rate = #{depositRate},
            channel_withdraw_rate = #{withdrawRate}
        where channel_id = #{channelId}
    </update>

    <update id="updateChannelIp">
        update channel set
            channel_ip = #{ip}
        where channel_id = #{channelId}
    </update>

    <update id="updateChannelUrl" parameterType="com.pokerstar.api.domain.model.channel.ChannelUrlBO">
        update channel set
            channel_deposit_url = #{depositUrl},
            channel_withdraw_url = #{withdrawUrl}
        where channel_id = #{channelId}
    </update>


</mapper>