<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pokerstar.api.domain.mapper.channel.ChannelWithdrawTypeMapper">


    <insert id="addChannelWithdrawType">

    </insert>

    <delete id="deleteChannelWithdrawType">

    </delete>

    <select id="getAllChannelWithdrawType"
            resultType="com.pokerstar.api.domain.entity.channel.ChannelWithdrawType">

    </select>

    <update id="updateChannelWithdrawType">

    </update>

    <update id="toggleChannelWithdrawTypeStatus">

    </update>

</mapper>