<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pokerstar.api.domain.mapper.channel.ChannelDepositMapper">
    <insert id="addChannelDeposit" parameterType="com.pokerstar.api.domain.entity.channel.ChannelDeposit">
        insert into channel_deposit
            (channel_id,channel_deposit_type_id,channel_deposit_code,channel_deposit_code_extra,
            channel_deposit_min_amount,channel_deposit_max_amount,channel_deposit_type_status,
            channel_deduct_deposit_amount,channel_deposit_rate,channel_deposit_type_remark,
            channel_support_country_id)
        values
            (#{channel_id},#{channel_deposit_type_id},#{channel_deposit_code},#{channel_deposit_code_extra},
            #{channel_deposit_min_amount},#{channel_deposit_max_amount},#{channel_deposit_type_status},
            #{channel_deduct_deposit_amount},#{channel_deposit_rate},#{channel_deposit_type_remark},
            #{channel_support_country_id})
    </insert>

    <delete id="deleteChannelDeposit" parameterType="int">
        delete from channel_deposit where channel_deposit_id = #{channelDepositId}
    </delete>

    <select id="getAllChannelDeposit" resultType="com.pokerstar.api.domain.entity.channel.ChannelDeposit">
        select * from channel_deposit
    </select>

    <select id="lstChannelDeposit" resultType="com.pokerstar.api.domain.entity.channel.ChannelDeposit">
        select * from channel_deposit where channel_id = #{channelId}
    </select>

    <update id="toggleChannelDepositStatus">
        update channel_deposit set channel_deposit_status = #{status} where channel_deposit_id = #{channelDepositId}
    </update>

</mapper>