<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pokerstar.api.domain.mapper.agent.AgentWithdrawOrderMapper">

    <insert id="addAgentWithdrawOrder">
        insert into agent_withdraw_order
            (agent_id,agent_real_name,agent_nick_name,agent_withdraw_order_balance,
            agent_withdraw_order_balance_currency_iso_code,agent_withdraw_order_create_time,
            agent_withdraw_order_status,admin_id,admin_nick_name,
            agent_withdraw_order_operate_time,agent_withdraw_order_remark)
        values
            (#{agent_id},#{agent_real_name},#{agent_nick_name},#{agent_withdraw_order_balance},
            #{agent_withdraw_order_balance_currency_iso_code},#{agent_withdraw_order_create_time},
            #{agent_withdraw_order_status},#{admin_id},#{admin_nick_name},
            #{agent_withdraw_order_operate_time},#{agent_withdraw_order_remark})
    </insert>

    <delete id="deleteAgentWithdrawOrder">
        delete from agent_withdraw_order where agent_withdraw_order_id = #{agentWithdrawOrderId}
    </delete>

    <select id="getAllAgentWithdrawOrder"
            resultType="com.pokerstar.api.domain.entity.agent.AgentWithdrawOrder">
        select * from agent_withdraw_order order by agent_withdraw_order_create_time desc
    </select>

    <update id="updateAgentWithdrawOrderStatus">
        update agent_withdraw_order set agent_withdraw_order_status = #{status} where agent_withdraw_order_id = #{agentWithdrawOrderId}
    </update>

    <update id="updateAgentWithdrawOrderOperation"
            parameterType="com.pokerstar.api.domain.model.agent.AgentWithdrawOrderOperationBO">
        update agent_withdraw_order set
            agent_withdraw_order_status = #{agent_withdraw_order_status},
            admin_id = #{admin_id},
            admin_nick_name = #{admin_nick_name},
            agent_withdraw_order_operate_time = #{agent_withdraw_order_operate_time},
            agent_withdraw_order_remark = #{agent_withdraw_order_remark}
        where agent_withdraw_order_id = #{agent_withdraw_order_id}
    </update>
</mapper>