<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pokerstar.api.domain.mapper.merchant.ChannelWithdrawMerchantMapper">


    <insert id="addChannelWithdrawMerchant">

    </insert>

    <delete id="deleteChannelWithdrawMerchant">

    </delete>

    <delete id="deleteChannelWithdrawByChannelId">

    </delete>

    <select id="getAllChannelWithdrawMerchant"
            resultType="com.pokerstar.api.domain.entity.merchant.ChannelWithdrawMerchant">

    </select>

    <update id="updateChannelWithdrawMerchant">

    </update>

    <update id="toggleChannelWithdrawMerchantStatus">

    </update>

</mapper>