<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pokerstar.api.domain.mapper.merchant.MerchantMapper">
    <insert id="addMerchant">
        insert into merchant
            (agent_id,agent_nick_name,merchant_real_name,merchant_nick_name,
            merchant_account,merchant_password,merchant_number,
            merchant_secret,merchant_phone,merchant_email,
            merchant_ip,merchant_status,merchant_create_time,merchant_remark)
        values
            (#{agent_id},#{agent_nick_name},#{merchant_real_name},#{merchant_nick_name},
            #{merchant_account},#{merchant_password},#{merchant_number},
            #{merchant_secret},#{merchant_phone},#{merchant_email},
            #{merchant_ip},#{merchant_status},#{merchant_create_time},#{merchant_remark})
    </insert>

    <delete id="deleteMerchant">
        delete from merchant where merchant_id = #{merchantId}
    </delete>

    <select id="getAllMerchant" resultType="com.pokerstar.api.domain.entity.merchant.Merchant">
        select * from merchant
    </select>

    <update id="updateMerchant" parameterType="com.pokerstar.api.domain.entity.merchant.ChannelMerchant">

    </update>

    <update id="toggleMerchantStatus">
        update merchant set merchant_status = #{status} where merchant_id = #{merchantId}
    </update>

    <update id="updateMerchantPassword">
        update merchant set merchant_password = #{password} where merchant_id = #{merchantId}
    </update>

    <update id="updateMerchantWhiteIp">
        update merchant set merchant_ip = #{ip} where merchant_id = #{merchantId}
    </update>

</mapper>